MAPBOX_KEY=token to mapbox API https://account.mapbox.com is like this -> pk.eyJ1IjoiYW5kcmV3YWtvc3RhIiwiYSI6ImNrbmMyamZjaTB6amoyeG9oOHd0N2xiZTQifQ.NOgpg4o9phJCoqnketg
OPEN_WEATHER= https://account.mapbox.com get a token in the previus link.